html, body, #root {
  height: 100%;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground));
  border-radius: 9999px;
}
